/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    font-size:62.5%; /*62.5% means that 10px = 1 rem */
  }  
 

  /* add css for nav*/
 .head{
    margin: 6% 0 0 0; 
    
}
nav{
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    justify-content: center;
}
.Logo{
    text-align: center;
}

.Navlinks
{
    margin: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.Navlinks li{
    padding: 0 6%;
    margin: 3rem 0 0 0;
    
    }

.Navbutton {
    
    border: none;
    border-radius: .5rem;
    margin: 0 20%;
}

body {
    line-height: 1;

}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    max-width:100%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
.top-content {
    display: flex;
    justify-content: center;
}
/* flex here*/
#top-contentcontainer {
    margin: 30%;
}
.bigtext{
    display: flex;
}
/*add 2 sections to make the rows*/
.topboxes {
    width: 100%;
    height: 300 px;
    border: 5px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4%;
}

.topboxes2 {
    width: 100%;
    height: 300 px;
    border: 5px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4%;
}
/*Add boxes and colors*/
.box1  {
    width: 10rem;
    height: 10rem;
    background-color: #008080;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}
.box2  {
    width: 10rem;
    height: 10rem;
    background-color: #FFD700;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box3  {
    width: 10rem;
    height: 10rem;
    background-color: #5F9EA0;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box4  {
    width: 10rem;
    height: 10rem;
    background-color: #FF7F50;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box5  {
    width: 10rem;
    height: 10rem;
    background-color: #DC143C;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box6  {
    width: 10rem;
    height: 10rem;
    background-color: #228B22;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box7  {
    width: 10rem;
    height: 10rem;
    background-color: #9932CC;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box8  {
    width: 10rem;
    height: 10rem;
    background-color: #FF69B4;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box9 {
    width: 10rem;
    height: 10rem;
    background-color: #4B0082;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box10 {
    width: 10rem;
    height: 10rem;
    background-color: #1E90FF;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 3%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    
    width: 100%;
    background: black;
}

footer nav {
    display: flex;
    justify-content: flex-start;
    margin: 0 4%;
    border: 5px solid green;
    width: 95%;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    text-align: left;
    margin: 1.5%;
    color: white;
    text-decoration: none;
}
/
@media (max-width: 800px){

    nav{
        text-align: center;
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 90%;
    }

    .heropic {
        width: 80%;
    }
    .top-content{
        border: #DC143C 6px solid;
        display: flex;
    } 
    .text-container {
    display: flex;
    flex-direction: column;
    margin: 0 2% 20px;
    justify-content: space-around;
    }

    footer nav {
        margin: 0 20%;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        border: 5px solid green;
        width: 95%;
        padding: 20px 2%;
        font-size: 14px;
    }
    footer nav a {
        
        width: 100%;
        text-align: center;
        margin: 0 10%;
        
    }

body {
    background: #008080;
}
.topboxes {
    
}

.topboxes2 {
    
}

    
    }

@media (max-width: 500px){
    .logo{
        width: 0 auto;
        text-align: center;
    }
    .head{
        width: 100%;
    
    }
.Navlinks{
    flex-direction: column;
    text-align: center;
    background-color: #4B0082;
}
.Navbutton {
    justify-content: baseline;
    text-align: center;
    width: 150%;
    height: 40px;
    background-color: silver;
    
}


.topboxes .box1 .box2 .box3 .box4 .box5{
    width: 140%;
    margin: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.topboxes2 div{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 10%
}
.top-content {
    flex-direction: column;
    align-items: center;
}
 *{
     max-width: 500px;
 }

}